   <h3>Upload your Bank Statement</h3>
<form action="/api/users/web/documents/bankStatement" method="post" enctype="multipart/form-data">
  <input type="file" name="bankStatement" />

  <br>
   <input type=submit value=Submit>
   <a href="/">Home</a>