   <h3>Upload your Identification</h3>
<form action="/api/users/web/documents/identification" method="post" enctype="multipart/form-data">
  <input type="file" name="identification" />

  <br>
   <input type=submit value=Submit>
   <a href="/">Home</a>