   <h3>Upload your Address Certificate</h3>
<form action="/api/users/web/documents/addressProof" method="post" enctype="multipart/form-data">
  <input type="file" name="addressProof" />

  <br>
   <input type=submit value=Submit>
   <a href="/">Home</a>