   <h3>Upload your Product</h3>
<form action="/api/users/web/documents/product" method="post" enctype="multipart/form-data">
  <input type="file" name="product" />

  <br>
   <input type=submit value=Submit>
   <a href="/">Home</a>