<h2>Reset your password</h2>
<hr>

<form action="/api/passwordReset" method="post">
    <h3>Enter new password</h3>
    <input type="password" name="newPassword" placeholder=" New password" id="newPassword">
    <input type="hidden" name="token" id="token">
    <br><br>
    <input type="submit" value="Send new password">
</form>

    <script>
        // Extract token from URL
        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        const token = getParameterByName('token');

        if (token) {
            document.getElementById('token').value = token;
        }
    </script>


<br><br>
{{>menu}}