<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="login/github">Login gitHub</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/users/documents/profile">Upload profile image</a></li>
    <li><a href="/users/documents/product">Upload product image</a></li>
    <li><a href="/users/documents/identification">Upload identification</a></li>
    <li><a href="/users/documents/addressProof">Upload Adress Proof</a></li>
    <li><a href="/users/documents/bankStatement">Upload Bank Statement</a></li>
    <li><a href="/passwordReset">Reset password</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/createProduct">Create Products</a></li>
    <li><a href="/realtimeproducts">Real Time Products</a></li>
    <li><a href="/chat">Chat</a></li>
</ul>